* {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}

.logo {
	width: 20%;
	height: auto;
	margin: 20px;
}

#nav-bar {
	font-size: 2vw;
	padding-right: 10px;
}

.nav-link {
	padding: 20px 10px 20px 10px;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-weight: 600;
}